#notificationContainer {
background-color: #fff;
width: 395px;
}

#notificationTitle {
text-align: center;
z-index: 1000;
font-weight: bold;
padding: 8px;
font-size: 13px;
background-color: #ffffff;
width: 384px;
border-bottom: 1px solid #dddddd;
}

#notificationsBody {
height:400px;
overflow:auto;
}

#noti {
padding: 20px;
background-color: lightblue;
width: 395px;
border-bottom: 1px solid #dddddd;
}

#notificationFooter {
background-color: #e9eaed;
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 12px;
border-top: 1px solid #dddddd;
}

#notification_count {
padding: 3px 7px 3px 7px;
background: black;
color: #ffffff;
font-weight: bold;
border-radius: 9px;
margin-top: -11px;
font-size: 11px;
}
